@import url(font-awesome.css);
html,body {
	background: url(/Z01_Hotel_reserv_dapp_project/WebContent/images/content/header-bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
span,applet,object,iframe,h1,h2,h3,h4,h5,.faq-list dt,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	vertical-align:baseline;
	outline:none
	
}

.container {
	margin-top:15%;	
}
          
body{
	padding-top:0!important
}

a{
	text-decoration:none
}
a:hover{
	text-decoration:none
}
input:focus,textarea:focus{
	outline:none
}
ol,ul{
	list-style:none
}
table{
	border-collapse:collapse;
	border-spacing:0
}
caption,th,td{
	text-align:left;
	font-weight:400;
	vertical-align:middle
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{
	display:block
}
.row-header{
	/* background:url(/Z01_Hotel_reserv_dapp_project/WebContent/images/content/header-bg.jpg) #323a45 no-repeat scroll 50% 0/cover; */
	/* background:url(/Z01_Hotel_reserv_dapp_project/WebContent/images/content/header-bg.jpg) #323a45 no-repeat; */
	min-height: 100%;
	min-width: 1024px;

}
/* @media (max-width:992px){
	.row-header{
		padding:30px 0 50px
	}
} */
.row-header .slogan{
	color:#fff;
	font-weight:700;
	font-size:36px;
	text-align:center;
	padding:22px 0
}
/* @media (max-width:992px){
	.row-header .slogan{
		font-size:30px
	}
} */
/* @media (max-width:767px){
	.row-header .slogan{
		font-size:21px
	}
} */
	.row-header #search-form{
		height: 200px;
		width:750px;
		margin: 0 auto;
		margin-left: 20%
}
/* @media (max-width:992px){
	.row-header #search-form{
		width:100%
	}
} */
.row-header #search-form .inputs{
	height:67px
}
.row-header #search-form .inputs input[type='text']{
	background:#fff;
	border:none;
	border-radius:5px 5px 5px 5px;
	color:#acacac;
	font-family:Helvetica,Arial,sans-serif;
	height:67px;
	line-height:67px;
	padding:0 20px;
	float:left;
	margin:0;
	width:490px;
}
.row-header #search-form .inputs input[type='number']{
	background:#fff;
	border:none;
	border-radius:5px 5px 5px 5px;
	color:#acacac;
	font-family:Helvetica,Arial,sans-serif;
	height:67px;
	line-height:67px;
	padding:0 20px;
	float:left;
	margin:0;
	width:490px
}

.row-header #search-form .inputs input[type='text']:hover{
	color:#3c3c3c
}
.row-header #search-form .inputs input[type='number']:hover{
	color:#3c3c3c
}
.row-header #search-form .inputs input[type='text']:focus{
	box-shadow:0 0 3px rgba(0,0,0,.2) inset;
	background:#fff
}
.row-header #search-form .inputs input[type='number']:focus{
	box-shadow:0 0 3px rgba(0,0,0,.2) inset;
	background:#fff
}
.row-header #search-form .inputs .SumoSelect{
	float:left;
	height:100%;
	width:164px
}
/* @media (max-width:767px){
	.row-header #search-form .inputs .SumoSelect{
		height:40px;
		width:90%
	}
} */
#search-form input[type='submit']{
	background:url(/Z01_Hotel_reserv_dapp_project/WebContent/images/icons/icon-zoom.png) no-repeat 50% 50% #fff;
	border:none;
	border-radius:5px 5px 5px 5px;
	float:left;
	height:67px;
	line-height:67px;
	font-size:0;
	padding:0;
	position:relative;
	text-align:center;
	width:154px;
	margin-left: 10px;
}
/* @media (max-width:767px){
	.row-header #search-form .inputs input[type='submit']{
		width:10%;
		height:40px;
		line-height:40px
	}
} */
.row-header #search-form .inputs input[type='submit']:hover{
	background-color:#f1f1f1
}
.row-header #search-form .examples{
	font-family:Helvetica,Arial,sans-serif;
	color:#fff;
	padding:7px 0 0 0;
	clear:both
}
.row-header #search-form .examples a{
	color:#fff;
	display:inline-block;
	padding-bottom:3px;
	border-bottom:1px dotted #fff
}
.row-header #search-form .examples a:hover{
	border:none
}
.row-banner{
	background:#323a45
}
.row-banner img{
	display:block;
	margin:auto
}
.SelectClass{
	position:absolute;
	top:0;
	left:0;
	right:0;
	height:100%;
	width:100%;
	border:none;
	z-index:1;
	opacity:0
}
.SumoSelect{
	display:inline-block;
	position:relative;
	outline:none;
	font-family:Helvetica,Arial,sans-serif
}
/* @media (max-width:767px){
	#header .SumoSelect select{
		width:100%;
		height:100%;
		font-size:16px
	}
} */
.SumoSelect .CaptionCont{
	color:#acacac;
	background-color:#fff;
	border-left:1px solid #e0e0e0;
	border-right:1px solid #e0e0e0;
	height:100%;
	text-align:center;
	position:relative;
	font-size:16px;
	border-radius: 5px 5px 5px 5px;
}
/* @media (max-width:767px){
	.SumoSelect .CaptionCont{
		border-radius:4px 0 0 4px;
		border-left:none;
		text-align:left;
		padding-left:20px
	}	
} */
/* @media (max-width:479px){
	.SumoSelect .CaptionCont{
		border:none
	}	
} */
.SumoSelect .CaptionCont span{
	display:block;
	line-height:67px;
	cursor:pointer
}
/* @media (max-width:767px){
	.SumoSelect .CaptionCont span{
		line-height:40px
	}
} */
.SumoSelect .CaptionCont span.placeholder{
	color:#ccc;
	font-style:italic
}
.SumoSelect .CaptionCont label{
	cursor:pointer;
	font-size:0;
	margin-top:3px;
	position:absolute;
	right:15px;
	top:50%
}
/* @media (max-width:767px){
	.SumoSelect .CaptionCont label{
		display:none
	}	
} */
.SumoSelect .CaptionCont label i{
	width:0;
	height:0;
	border-style:solid;
	border-width:6px 5.5px 0 5.5px;
	border-color:#dcdcdc transparent transparent transparent
}
.SumoSelect .optWrapper>.options>li label{
	user-select:none
}
@media (min-width:768px){
	.SumoSelect:hover .CaptionCont span{
		color:#323a45
}
.SumoSelect:hover .CaptionCont label i{
	border-color:#323a45 transparent transparent transparent
}
.SumoSelect:focus .CaptionCont{
	box-shadow:0 0 3px rgba(0,0,0,.2) inset
	}	
}
.SumoSelect .optWrapper{
	top:80px;
	width:100%;
	position:absolute;
	left:0;
	opacity:0;
	visibility:hidden;
	transition:opacity 200ms ease-out,top 200ms ease-out,visibility 200ms ease-out;
	z-index:-100;
	background:#fff;
	border:1px solid #ddd;
	box-shadow:2px 3px 3px rgba(0,0,0,.11);
	border-radius:3px;
	overflow:hidden
}
.SumoSelect .optWrapper.open{
	top:68px;
	visibility:visible;
	opacity:1;
	z-index:1000
}
/* @media (max-width:767px){
	.SumoSelect .optWrapper.open{
		line-height:41px
	}
} */
.SumoSelect .optWrapper .options{
	list-style:none;
	display:block;
	padding:0;
	margin:0;
	overflow:auto;
	border-radius:2px;
	max-height:550px
}
.SumoSelect .optWrapper .options li{
	padding:6px 6px;
	border-bottom:1px solid #F3F3F3;
	position:relative
}
.SumoSelect .optWrapper .options li::before{
	display:none
}
.SumoSelect .optWrapper .options li:first-child{
	border-radius:2px 2px 0 0
}
.SumoSelect .optWrapper .options li:last-child{
	border-bottom:none;
	border-radius:0 0 2px 2px
}
.SumoSelect .optWrapper .options li:hover{
	background-color:#E4E4E4
}
.SumoSelect .optWrapper .options li:hover label{
	color:#3c3c3c
}
.SumoSelect .optWrapper .options li.sel{
	background-color:#a1c0e4
}
.SumoSelect .optWrapper .options li label{
	color:#acacac;
	font-size:13px;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	display:block;
	cursor:pointer
}
.SumoSelect .optWrapper .options li span{
	display:none
}
.SumoSelect .optWrapper.isFloating{
	position:fixed;
	top:0;
	left:0;
	right:0;
	width:90%;
	bottom:0;
	margin:auto;
	max-height:90%
}
.SumoSelect .optWrapper.isFloating>.options{
	max-height:100%;
	box-shadow:0 0 100px #595959
}
.SumoSelect>.optWrapper>.options>li.disabled{
	background-color:inherit;
	pointer-events:none
}
.SumoSelect>.optWrapper>.options>li.disabled *{
	opacity:.5
}
.SumoSelect>.optWrapper.multiple>.options>li{
	padding-left:35px;
	cursor:pointer
}
.SumoSelect>.optWrapper.multiple>.options>li span,.SumoSelect .select-all>span{
	position:absolute;
	display:block;
	width:30px;
	top:0;
	bottom:0;
	margin-left:-35px
}
.SumoSelect>.optWrapper.multiple>.options>li span i,.SumoSelect .select-all>span i{
	position:absolute;
	margin:auto;
	left:0;
	right:0;
	top:0;
	bottom:0;
	width:14px;
	height:14px;
	border:1px solid #AEAEAE;
	border-radius:2px;
	box-shadow:inset 0 1px 3px rgba(0,0,0,.15);
	background-color:#fff
}
.SumoSelect>.optWrapper>.MultiControls{
	display:none;
	border-top:1px solid #ddd;
	background-color:#fff;
	box-shadow:0 0 2px rgba(0,0,0,.13);
	border-radius:0 0 3px 3px
}
.SumoSelect>.optWrapper.multiple.isFloating>.MultiControls{
	display:block;
	margin-top:5px;
	position:absolute;
	bottom:0;
	width:100%
}
.SumoSelect>.optWrapper.multiple.okCancelInMulti>.MultiControls{
	display:block
}
.SumoSelect>.optWrapper.multiple.okCancelInMulti>.MultiControls>p{
	padding:6px
}
.SumoSelect>.optWrapper.multiple>.MultiControls>p{
	display:inline-block;
	cursor:pointer;
	padding:12px;
	width:50%;
	box-sizing:border-box;
	text-align:center
}
.SumoSelect>.optWrapper.multiple>.MultiControls>p:hover{
	background-color:#f1f1f1
}
.SumoSelect>.optWrapper.multiple>.MultiControls>p.btnOk{
	border-right:1px solid #DBDBDB;
	border-radius:0 0 0 3px
}
.SumoSelect>.optWrapper.multiple>.MultiControls>p.btnCancel{
	border-radius:0 0 3px 0
}
.SumoSelect>.optWrapper.isFloating>.options>li{
	padding:12px 6px
}
.SumoSelect>.optWrapper.multiple.isFloating>.options>li{
	padding-left:35px
}
.SumoSelect>.optWrapper.multiple.isFloating{
	padding-bottom:43px
}
.SumoSelect>.optWrapper.multiple>.options>li.selected span i,.SumoSelect .select-all.selected>span i,.SumoSelect .select-all.partial>span i{
	background-color:#11a911;
	box-shadow:none;
	border-color:transparent;
	background-repeat:no-repeat;
	background-position:center center
}
.SumoSelect.disabled{
	opacity:.7;
	cursor:not-allowed
}
.SumoSelect.disabled>.CaptionCont{
	border-color:#ccc;
	box-shadow:none
}
.SumoSelect .select-all{
	border-radius:3px 3px 0 0;
	position:relative;
	border-bottom:1px solid #ddd;
	background-color:#fff;
	padding:8px 0 3px 35px;
	height:20px
}
.SumoSelect .select-all>span i{
	cursor:pointer
}
.SumoSelect .select-all.partial>span i{
	background-color:#ccc
}
.SumoSelect>.optWrapper>.options>li.optGroup{
	padding-left:5px;
	text-decoration:underline
}
*{
	box-sizing:border-box
}
body{
	font-family:"Roboto",sans-serif;
	color:#3c3c3c;
	font-size:14px;
	line-height:1.5;	
	font-weight:300
}
/* @media (max-width:767px){
	body{
		font-size:13px
	}
} */
/* @media (max-width:479px){
	body{
		font-size:12px
	}
} */
img{
	max-width:100%
}
p{
	padding-bottom:15px
}
a{
	color:#289fcd;
	text-decoration:none
}
a:hover,a:focus,a:active{
	outline:none;
	text-decoration:none
}
